{
  "openapi": "3.0.1",
  "info": {
    "title": "Socmate SOC Investigation API",
    "description": "SOC investigation API for Microsoft Security Copilot. Investigates security events in Microsoft Sentinel using natural language queries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://agent.socmate.pcsaisuite.com"
    }
  ],
  "paths": {
    "/api/v1/public/investigate": {
      "post": {
        "operationId": "InvestigateSecurityEvent",
        "summary": "Investigate a security event or query",
        "description": "Submits a natural language security investigation query to the Socmate platform against Microsoft Sentinel. Use to investigate failed sign-ins, suspicious logins, brute force attacks, lateral movement, impossible travel, data exfiltration, privileged account anomalies, or any security event. Always set persona to soc_analyst and provider to sentinel. Returns structured findings including summary, entities, and structured content.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlatInvestigateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful investigation response with structured findings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvestigateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid query or missing required fields."
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "FlatInvestigateRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "Natural language investigation query. Be specific. Examples: Investigate all failed sign-in attempts in the last 24 hours. Identify brute force attack patterns in the last 12 hours. Detect lateral movement indicators in the last 24 hours. Summarize suspicious login activity in the last 6 hours. Identify impossible travel events in the last 7 days. Summarize data exfiltration indicators in the last 24 hours. Identify anomalous activity for privileged accounts in the last 24 hours."
          },
          "persona": {
            "type": "string",
            "description": "Analyst persona. Always use soc_analyst.",
            "enum": ["soc_analyst", "ciso"],
            "default": "soc_analyst"
          },
          "provider": {
            "type": "string",
            "description": "SIEM provider to query. Always use sentinel.",
            "enum": ["sentinel", "chronicle", "archer"],
            "default": "sentinel"
          },
          "options": {
            "$ref": "#/components/schemas/InvestigationOptions"
          }
        },
        "example": {
          "query": "Investigate all failed sign-in attempts in the last 24 hours",
          "persona": "soc_analyst",
          "provider": "sentinel",
          "options": {
            "time_range": "24h",
            "include_structured_content": true,
            "include_entity_diagram": false,
            "include_tool_calls": false,
            "include_raw_results": false
          }
        }
      },
      "InvestigationOptions": {
        "type": "object",
        "properties": {
          "time_range": {
            "type": "string",
            "description": "Time range for the investigation. Use 1h for last hour, 6h for last 6 hours, 12h for last 12 hours, 24h for today or last 24 hours, 7d for last 7 days, 30d for last 30 days. Default is 24h.",
            "enum": ["1h", "6h", "12h", "24h", "7d", "30d"],
            "default": "24h"
          },
          "include_structured_content": {
            "type": "boolean",
            "default": true
          },
          "include_entity_diagram": {
            "type": "boolean",
            "default": false
          },
          "include_tool_calls": {
            "type": "boolean",
            "default": false
          },
          "include_raw_results": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "InvestigateResponse": {
        "type": "object",
        "properties": {
          "session_id": { "type": "string" },
          "run_id": { "type": "string" },
          "status": { "type": "string" },
          "title": { "type": "string" },
          "summary": { "type": "string" },
          "structured_content": { "type": "object" },
          "entities": { "type": "array", "items": { "type": "object" } },
          "relationships": { "type": "array", "items": { "type": "object" } },
          "metadata": { "type": "object" },
          "error": { "type": "string" }
        }
      }
    }
  }
}
